<!DOCTYPE html>
<html lang="en"
      xmlns:th="http://www.thymeleaf.org"
      xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
      layout:decorator="layouts/default">
<body>
<div id="page" layout:fragment="content">


   <table class="table table-striped">

       <tr>
           <td>Name</td>
           <td>Updated at</td>
           <td>Created at</td>
           <td>Edit</td>
       </tr>

    <tr th:each="resource : ${resources}">
        <td th:text="${resource.name}"></td>
        <td th:text="${resource.updatedDate}"></td>
        <td th:text="${resource.createdDate}"></td>
        <td><a th:href="@{/admin/resource/edit(id=${resource.id})}">Edit</a> </td>
    </tr>

   </table>





</div>
</body>
</html>