<!DOCTYPE html>
<html lang="en"
      xmlns:th="http://www.thymeleaf.org"
      xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
      layout:decorator="layouts/default">
<body>
<div id="page" layout:fragment="content">



    <a href="/admin/user/create">Add user</a>
    <table class="table table-striped">

        <tr>
            <td>Name</td>

            <td>Created at</td>
            <td>Edit</td>
        </tr>

        <tr th:each="user : ${users}">
            <td th:text="${user.username}"></td>

            <td th:text="${user.createdAt}"></td>
            <td><a th:href="@{/admin/user/edit(id=${user.id})}">Edit</a> </td>
        </tr>

    </table>





</div>
</body>
</html>